Repository makeorg/monofront: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

Path conditions:
  e2e-front: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  e2e-widget: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-front: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-widget: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-translator: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  build-make-content: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock
  deploy-front-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-widget-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-translator-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  deploy-content-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock
  deploy-front-production: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-widget-production: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-translator-production: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  deploy-content-production: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock

Revert "fix(assembly-ui): fixes contact form"
  apps/front/client/pages/Contact/index.tsx
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/fr.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

Revert "feat(front): added contact form"
  apps/front/.env.local
  apps/front/client/app/Routes.tsx
  apps/front/client/helpers/translationsMap.tsx
  apps/front/client/pages/Contact/index.tsx
  apps/front/client/pages/Contact/style.ts
  apps/front/client/pages/Static/Contact.tsx
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/fr.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
  apps/front/server/api/contact.ts
  apps/front/server/routes.ts
  package/api/services/ExpressApiService.ts
  package/assets/env.ts
  package/types/Contact.d.ts
  package/types/enums/form.ts
  package/ui/elements/ButtonsElements.ts
  package/utils/services/Express.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly-ui): added reassurance page
  apps/assembly-ui/assets/ArrowExternalPurple.tsx
  apps/assembly-ui/assets/Vector.tsx
  apps/assembly-ui/assets/VectorDoc.tsx
  apps/assembly-ui/assets/VectorIa.tsx
  apps/assembly-ui/assets/VectorPerso.tsx
  apps/assembly-ui/assets/VectorVideo.tsx
  apps/assembly-ui/assets/rea_sit.tsx
  apps/assembly-ui/assets/rea_standing.tsx
  apps/assembly-ui/assets/rea_woman.tsx
  apps/assembly-ui/assets/rea_write.tsx
  apps/assembly-ui/client/app/Routes.tsx
  apps/assembly-ui/client/pages/About/index.tsx
  apps/assembly-ui/client/pages/About/style.ts
  apps/assembly-ui/components/Feed/Actions.tsx
  apps/assembly-ui/components/Feed/Answer.tsx
  apps/assembly-ui/components/Feed/style.ts
  apps/assembly-ui/components/Header/index.tsx
  apps/assembly-ui/components/Header/style.ts
  apps/assembly-ui/components/SideBar/Content.tsx
  apps/assembly-ui/components/SideBar/Modal.tsx
  apps/assembly-ui/components/Welcome/style.ts
  apps/assembly-ui/i18n/fr.json
  apps/assembly-ui/server/routes.ts
  apps/assembly-ui/utils/DefaultStyle.ts
  apps/assembly-ui/utils/routes.ts
Due: none

feat(assembly-ui): added es, de json, updated en
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
  apps/assembly-ui/package.json
Due: none

feat(assembly-ui): new language rules
  apps/assembly-ui/client/index.tsx
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
  apps/assembly-ui/i18n/index.ts
  apps/assembly-ui/server/index.ts
  apps/assembly-ui/server/reactRender.tsx
  apps/assembly-ui/server/ssr/eventRoute.ts
  apps/assembly-ui/store/context.tsx
  apps/assembly-ui/store/devState.ts
  apps/assembly-ui/types/enums.ts
  apps/assembly-ui/types/index.d.ts
  apps/assembly-ui/utils/constants.ts
Due: none

chore(global): update translations
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
Due: none

chore(global): update translations
  apps/front/i18n/de.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

feat(tracking): init tracking package
  apps/assembly-ui/Dockerfile
  apps/assembly-ui/trackingConfiguration.yaml
  apps/assembly-ui/tsconfig.json
  commitlint.config.js
  package/tracking/index.spec.ts
  package/tracking/index.ts
  package/tracking/interface.ts
  package/tracking/package.json
  package/tracking/trackers/facebook.ts
  package/tracking/trackers/makeorg.ts
  package/tracking/trackers/mixpanel.ts
  package/tracking/trackers/twitter.ts
  package/tracking/tsconfig.json
  package/tracking/types.ts
  package/ui/components/Image/index.spec.ts
  package/utils/services/Trackers/MixpanelTracking.ts
  tsconfig.json
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly-ui): add a logger
  apps/assembly-ui/client/index.tsx
  apps/assembly-ui/server/conversionApi.ts
  apps/assembly-ui/server/index.ts
  apps/assembly-ui/server/routes.ts
  apps/assembly-ui/server/ssr/consentRoute.ts
  apps/assembly-ui/server/ssr/loggerRoute.ts
  apps/assembly-ui/types/index.d.ts
  apps/assembly-ui/utils/routes.ts
Due: none

feat(assembly-ui): manage cookies consent server side
  apps/assembly-ui/client/app/index.tsx
  apps/assembly-ui/client/index.tsx
  apps/assembly-ui/components/Feed/Answer.tsx
  apps/assembly-ui/components/Tracking/ConsentConsumer.tsx
  apps/assembly-ui/components/Tracking/useTracking.tsx
  apps/assembly-ui/server/cookiesManager.ts
  apps/assembly-ui/server/middleware/assemblyCookies.ts
  apps/assembly-ui/server/reactRender.tsx
  apps/assembly-ui/server/routes.ts
  apps/assembly-ui/server/ssr/consentRoute.ts
  apps/assembly-ui/trackingConfiguration.yaml
  apps/assembly-ui/utils/routes.ts
  package/tracking/apiConversion/facebookConversion.ts
  package/tracking/bin/documentation.ts
  package/tracking/trackers/mixpanel.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly-ui): add tracking events
  apps/assembly-ui/components/Feed/Actions.tsx
  apps/assembly-ui/components/Feed/Answer.tsx
  apps/assembly-ui/components/Feed/Sources.tsx
  apps/assembly-ui/components/Feed/index.tsx
  apps/assembly-ui/components/Onboarding/Modal.tsx
  apps/assembly-ui/components/Prompt/Form.tsx
  apps/assembly-ui/components/Prompt/Stream.tsx
  apps/assembly-ui/components/Prompt/Suggestions.tsx
  apps/assembly-ui/components/ReactPlayer/YoutubePlayer.tsx
  apps/assembly-ui/components/Welcome/Themes.tsx
Due: none

fix(assembly-ui): fixed state in dev mode
  apps/assembly-ui/client/index.tsx
Due: none

fix(assembly-ui): not use process.env variables client side
  apps/assembly-ui/client/index.tsx
Due: none

feat(assembly-ui): update static markdown and fixes
  apps/assembly-ui/client/app/Routes.tsx
  apps/assembly-ui/client/app/index.tsx
  apps/assembly-ui/client/index.tsx
  apps/assembly-ui/client/pages/Legal/index.tsx
  apps/assembly-ui/client/pages/PrivacyPolicy/index.tsx
  apps/assembly-ui/client/pages/Static/Cookies/index.tsx
  apps/assembly-ui/client/pages/Static/Legal/index.tsx
  apps/assembly-ui/client/pages/Static/PrivacyPolicy/index.tsx
  apps/assembly-ui/client/pages/Static/i18n/de.json
  apps/assembly-ui/client/pages/Static/i18n/en.json
  apps/assembly-ui/client/pages/Static/i18n/es.json
  apps/assembly-ui/client/pages/Static/i18n/fr.json
  apps/assembly-ui/client/pages/Static/i18n/temp.md
  apps/assembly-ui/client/pages/Static/markdownComponent.tsx
  apps/assembly-ui/client/pages/Static/style.ts
  apps/assembly-ui/components/SideBar/Content.tsx
  apps/assembly-ui/components/style.ts
  apps/assembly-ui/i18n/index.ts
  apps/assembly-ui/package.json
  apps/assembly-ui/server/reactRender.tsx
  apps/assembly-ui/store/context.tsx
  apps/assembly-ui/webpack/dev.config.js
  apps/front/client/pages/Static/i18n/fr.json
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

chore(global): update translations
  apps/assembly-ui/client/pages/Static/i18n/fr.json
Due: none

chore(global): update translations
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
Due: none

feat(tracking): MP-3751 new tracking event
  apps/assembly-ui/.env.dist
  apps/assembly-ui/.env.local
  apps/assembly-ui/.env.test
  apps/assembly-ui/components/Prompt/Form.tsx
  apps/assembly-ui/components/Prompt/Suggestions.tsx
  apps/assembly-ui/components/Welcome/Themes.tsx
  apps/assembly-ui/trackingConfiguration.yaml
Due: none

feat(tracking): add new parameter for the main tracking event
  apps/assembly-ui/components/Prompt/Form.tsx
  apps/assembly-ui/components/Prompt/Suggestions.tsx
  apps/assembly-ui/components/Welcome/Themes.tsx
  apps/assembly-ui/trackingConfiguration.yaml
Due: none

fix(assembly-ui): fixed markdown
  apps/assembly-ui/client/pages/Static/i18n/de.json
  apps/assembly-ui/client/pages/Static/i18n/en.json
  apps/assembly-ui/client/pages/Static/i18n/es.json
  apps/assembly-ui/client/pages/Static/markdownComponent.tsx
  apps/assembly-ui/client/pages/Static/style.ts
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
Due: none

fix(assembly-ui): correcly handle tracking conversion errors
  apps/assembly-ui/server/conversionApi.ts
  package/tracking/apiConversion/facebookConversion.ts
  package/tracking/apiConversion/twitterConversion.ts
  package/tracking/index.ts
  package/tracking/interface.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

fix(assembly-ui): fix issue set language on load
  apps/assembly-ui/client/index.tsx
  apps/assembly-ui/i18n/index.ts
  apps/assembly-ui/server/reactRender.tsx
Due: none

feat(assembly-ui): update styles
  apps/assembly-ui/components/Feed/style.ts
  apps/assembly-ui/components/Prompt/style.ts
  apps/assembly-ui/components/Welcome/style.ts
Due: none

fix(assembly-ui): add a content-type to consent request
  apps/assembly-ui/client/index.tsx
Due: none

fix(assembly-ui): update session and visitor state on each consent change
  apps/assembly-ui/client/index.tsx
  apps/assembly-ui/components/Tracking/ConsentConsumer.tsx
  apps/assembly-ui/components/Tracking/TrackingContext.tsx
  apps/assembly-ui/server/cookiesManager.ts
  apps/assembly-ui/server/ssr/consentRoute.ts
  apps/assembly-ui/store/context.tsx
  apps/assembly-ui/store/sessionVisitor/actions.ts
  apps/assembly-ui/store/sessionVisitor/reducer.ts
  apps/assembly-ui/store/sessionVisitor/types.ts
  apps/assembly-ui/trackingConfiguration.yaml
  package/tracking/index.spec.ts
  package/tracking/index.ts
  package/tracking/trackers/facebook.ts
  package/tracking/trackers/twitter.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly-ui): add tracking documentation generator
  .husky/pre-push
  apps/assembly-ui/docs/tracking.md
  apps/assembly-ui/package.json
  apps/assembly-ui/trackingConfiguration.yaml
  package/tracking/bin/documentation.ts
  package/tracking/documentation/.eslintrc.json
  package/tracking/documentation/generator.ts
  package/tracking/package.json
  package/tracking/tsconfig.json
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly-ui): updae welcome component
  apps/assembly-ui/components/Prompt/style.ts
  apps/assembly-ui/components/ReactPlayer/YoutubePlayer.tsx
  apps/assembly-ui/components/ReactPlayer/style.ts
  apps/assembly-ui/components/Welcome/index.tsx
  apps/assembly-ui/components/Welcome/style.ts
Due: none

feat(assembly-ui): cookie page markdown
  apps/assembly-ui/client/pages/Static/Cookies/index.tsx
  apps/assembly-ui/client/pages/Static/PrivacyPolicy/index.tsx
  apps/assembly-ui/client/pages/Static/i18n/de.json
  apps/assembly-ui/client/pages/Static/i18n/en.json
  apps/assembly-ui/client/pages/Static/i18n/es.json
  apps/assembly-ui/client/pages/Static/i18n/fr.json
  apps/assembly-ui/client/pages/Static/style.ts
Due: none

fix(assembly-ui): update es json to resolve weblate conflict
  apps/assembly-ui/i18n/es.json
Due: none

feat(assembly-ui): add cookie table in static page
  apps/assembly-ui/client/pages/Static/Cookies/index.tsx
Due: none

feat(assembly-ui): add cookie modification modal
  apps/assembly-ui/client/pages/Static/Cookies/index.tsx
  apps/assembly-ui/client/pages/Static/i18n/de.json
  apps/assembly-ui/client/pages/Static/i18n/en.json
  apps/assembly-ui/client/pages/Static/i18n/es.json
  apps/assembly-ui/client/pages/Static/i18n/fr.json
  apps/assembly-ui/client/pages/Static/style.ts
Due: none

fix(assembly-ui): cookie first language init
  apps/assembly-ui/client/app/index.tsx
Due: none

feat(widget): update header widget with privacy
  apps/widget/client/components/HeaderPanel/index.tsx
  apps/widget/client/components/HeaderPanel/style.ts
  apps/widget/i18n/bg.json
  apps/widget/i18n/cs.json
  apps/widget/i18n/da.json
  apps/widget/i18n/de.json
  apps/widget/i18n/el.json
  apps/widget/i18n/en.json
  apps/widget/i18n/es.json
  apps/widget/i18n/et.json
  apps/widget/i18n/fi.json
  apps/widget/i18n/fr.json
  apps/widget/i18n/hr.json
  apps/widget/i18n/hu.json
  apps/widget/i18n/it.json
  apps/widget/i18n/lt.json
  apps/widget/i18n/lv.json
  apps/widget/i18n/nl.json
  apps/widget/i18n/pl.json
  apps/widget/i18n/pt.json
  apps/widget/i18n/ro.json
  apps/widget/i18n/sk.json
  apps/widget/i18n/sl.json
  apps/widget/i18n/sv.json
  apps/widget/i18n/uk.json
Due: e2e-widget, build-make-widget, deploy-widget-preproduction, deploy-widget-production

fix(assembly-ui): universalcookie is undefined with some routes
  apps/assembly-ui/server/cookiesManager.ts
  apps/assembly-ui/server/reactRender.tsx
  apps/assembly-ui/server/ssr/defaultRoute.ts
  apps/assembly-ui/server/ssr/eventRoute.ts
Due: none

feat(assembly-ui): add an error handler component
  apps/assembly-ui/client/index.tsx
  apps/assembly-ui/components/Error/index.tsx
Due: none

refactor(assembly-ui): refactor consent management to handle a consent update from cookie first
  apps/assembly-ui/client/index.tsx
  apps/assembly-ui/components/Tracking/ConsentConsumer.tsx
  apps/assembly-ui/server/reactRender.tsx
  apps/assembly-ui/server/ssr/consentRoute.ts
  apps/assembly-ui/store/sessionVisitor/reducer.ts
Due: none

chore(assembly-ui): update tracking doc and refactor tracking cookies init
  apps/assembly-ui/docs/tracking.md
  apps/assembly-ui/server/reactRender.tsx
  apps/assembly-ui/trackingConfiguration.yaml
Due: none

chore(assembly-ui): documentation improvement and better i18n check
  README.md
  apps/assembly-ui/README.md
  apps/assembly-ui/docs/tracking.md
  apps/front/README.md
  apps/front/bin/check-accessibility.js
  apps/front/bin/check-documentation.js
  apps/front/docs/ACCESSIBILITY.md
  apps/front/docs/RESULTS.md
  apps/front/docs/TRACKING.md
  apps/front/server/staticData/RESULTS.MD
  apps/widget/README.md
  bin/check-translation.js
  bin/utils/CheckTranslation.js
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, deploy-front-preproduction, deploy-widget-preproduction, deploy-front-production, deploy-widget-production
