Repository makeorg/monofront: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

Path conditions:
  e2e-front: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  e2e-widget: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-front: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-widget: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-translator: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  build-make-content: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock
  deploy-front-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-widget-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-translator-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  deploy-content-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock
  deploy-front-production: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-widget-production: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-translator-production: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  deploy-content-production: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock

feat(front): header update
  apps/assembly-ui/client/pages/Static/markdownComponent.tsx
  apps/front/client/app/Navigation/Menu/Desktop.tsx
  apps/front/client/app/Navigation/Menu/Panel.tsx
  apps/front/client/app/Navigation/Menu/style.ts
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/fr.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
  cypress/integration/front/Header.feature
  package/components/Auth/Header/style.ts
  package/utils/helpers/url.ts
  package/utils/routes.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly-ui): update panono header
  apps/assembly-ui/components/Header/index.tsx
  apps/assembly-ui/components/Header/style.ts
  apps/assembly-ui/components/SideBar/Modal.tsx
  apps/assembly-ui/components/SideBar/style.ts
  apps/assembly-ui/components/style.ts
Due: none

feat(assembly-ui): update onboarding and header
  apps/assembly-ui/assets/Frame 293.png
  apps/assembly-ui/assets/Group 6.png
  apps/assembly-ui/assets/Group 74.png
  apps/assembly-ui/assets/SidebarSimple.tsx
  apps/assembly-ui/assets/Sourcesx2.png
  apps/assembly-ui/assets/Topic_Stack.tsx
  apps/assembly-ui/assets/sidebarclose.tsx
  apps/assembly-ui/components/Feed/Sources.tsx
  apps/assembly-ui/components/Header/index.tsx
  apps/assembly-ui/components/Header/style.ts
  apps/assembly-ui/components/Onboarding/Content.tsx
  apps/assembly-ui/components/Onboarding/style.ts
  apps/assembly-ui/components/Prompt/Suggestions.tsx
  apps/assembly-ui/components/Welcome/Themes.tsx
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
Due: none

chore(global): update translations
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

chore(global): update translations
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/fi.json
  apps/front/i18n/hr.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/pl.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

chore(global): update translations
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
Due: none

feat(assembly-ui): update env, some styles we need, before interaction
  apps/assembly-ui/.env.local
  apps/assembly-ui/assets/CitizenVoice_bubble.tsx
  apps/assembly-ui/assets/bonhomme.tsx
  apps/assembly-ui/components/Header/style.ts
Due: none

fix(assembly-ui): fix android carousel
  apps/assembly-ui/components/Feed/Answer.tsx
  apps/assembly-ui/components/Header/index.tsx
  apps/assembly-ui/components/Prompt/Suggestions.tsx
  package/utils/hooks/useIsSmallDevice.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

fix(assembly-ui): fix header icon sidebar phone
  apps/assembly-ui/components/Header/index.tsx
  apps/assembly-ui/components/Header/style.ts
  apps/assembly-ui/components/Welcome/style.ts
Due: none

chore(global): update translations
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
Due: none

chore(global): update translations
  apps/assembly-ui/i18n/fr.json
Due: none

feat(assembly-ui): synchronise preprod with temoignage ticket
  apps/assembly-ui/components/Feed/style.ts
  apps/assembly-ui/components/Prompt/Suggestions.tsx
Due: none

feat(assembly-ui): added testimony functionnality
  apps/assembly-ui/assets/scroll_button.tsx
  apps/assembly-ui/components/Feed/Answer.tsx
  apps/assembly-ui/components/Feed/Temoignage.tsx
  apps/assembly-ui/components/Feed/style.ts
  apps/assembly-ui/components/Welcome/Themes.tsx
  apps/assembly-ui/components/Welcome/style.ts
  apps/assembly-ui/docs/tracking.md
  apps/assembly-ui/trackingConfiguration.yaml
  package/types/View.d.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

chore(assembly-ui): clarify env dist file
  apps/assembly-ui/.env.dist
Due: none

feat(assembly-ui): new sources clickable block
  apps/assembly-ui/assets/SourcesDocument.tsx
  apps/assembly-ui/assets/SourcesVideo.tsx
  apps/assembly-ui/assets/arrow_bottom.tsx
  apps/assembly-ui/assets/arrow_left.tsx
  apps/assembly-ui/components/Feed/Answer.tsx
  apps/assembly-ui/components/Feed/Sources.tsx
  apps/assembly-ui/components/Feed/Sources/ShowSources.tsx
  apps/assembly-ui/components/Feed/Sources/SourcesElements.tsx
  apps/assembly-ui/components/Feed/Sources/style.ts
  apps/assembly-ui/components/Feed/SourcesMobile.tsx
  apps/assembly-ui/components/Feed/style.ts
  apps/assembly-ui/i18n/fr.json
Due: none

feat(assembly-ui): update feed with new sources
  apps/assembly-ui/assets/SourcesDocument.tsx
  apps/assembly-ui/assets/SourcesVideo.tsx
  apps/assembly-ui/components/Feed/Question.tsx
  apps/assembly-ui/components/Feed/Sources/SourcesAnswer.tsx
  apps/assembly-ui/components/Feed/Sources/SourcesElements.tsx
  apps/assembly-ui/components/Feed/Sources/style.ts
  apps/assembly-ui/components/Feed/index.tsx
  apps/assembly-ui/components/ReactPlayer/YoutubePlayer.tsx
  apps/assembly-ui/components/ReactPlayer/style.ts
  apps/assembly-ui/i18n/fr.json
  apps/assembly-ui/types/index.d.ts
Due: none

feat(assembly-ui): added tracking sources
  apps/assembly-ui/assets/ArrowBottom.tsx
  apps/assembly-ui/assets/ArrowLeft.tsx
  apps/assembly-ui/components/Feed/Sources/ShowSources.tsx
  apps/assembly-ui/components/Feed/Sources/SourcesElements.tsx
  apps/assembly-ui/components/Feed/Sources/style.ts
  apps/assembly-ui/components/Feed/index.tsx
  apps/assembly-ui/docs/tracking.md
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/trackingConfiguration.yaml
  package.json
  package/components/tsconfig.json
  tsconfig.json
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

chore(global): update translations
  apps/front/i18n/ro.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

docs(assembly-ui): fix a command in the readme
  apps/assembly-ui/README.md
  docker-compose.dev.yaml
Due: none

chore(tracking): init mixpanel with page view
  package/tracking/pixel/mixpanel.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

fix(global): rundeck execution state job can be 'scheduled'
  .gitlab-ci.yml
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

fix(assembly-ui): fix button color on iphone
  apps/assembly-ui/components/Feed/Sources/style.ts
Due: none

fix(assembly-ui): remove urlencodeparam on query params
  apps/assembly-ui/components/Feed/index.tsx
  apps/assembly-ui/components/Onboarding/Modal.tsx
Due: none

fix(assembly-ui): configure webpack dev with the new logger
  apps/assembly-ui/webpack/dev.config.js
Due: none

feat(assembly-ui): add a new page listing event source documents
  apps/assembly-ui/assets/ArrowBack.tsx
  apps/assembly-ui/client/app/Routes.tsx
  apps/assembly-ui/client/pages/EventSources/documentSources.tsx
  apps/assembly-ui/client/pages/EventSources/style.ts
  apps/assembly-ui/components/SideBar/Content.tsx
  apps/assembly-ui/components/SideBar/Modal.tsx
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
  apps/assembly-ui/server/api/Content.ts
  apps/assembly-ui/server/api/Sources.ts
  apps/assembly-ui/server/api/services/ContentApiService.ts
  apps/assembly-ui/server/middleware/contentSecurityPolicy.ts
  apps/assembly-ui/server/routes.ts
  apps/assembly-ui/server/ssr/documentSourcesRoute.ts
  apps/assembly-ui/store/context.tsx
  apps/assembly-ui/store/devState.ts
  apps/assembly-ui/store/eventSources/action.ts
  apps/assembly-ui/store/eventSources/reducer.ts
  apps/assembly-ui/store/eventSources/types.ts
  apps/assembly-ui/types/index.d.ts
  apps/assembly-ui/utils/constants.ts
  apps/assembly-ui/utils/routes.ts
  apps/assembly-ui/utils/services/DocumentSources.ts
  apps/assembly-ui/webpack/dev.config.js
Due: none

feat(front): add moldova
  apps/front/client/helpers/initDevState.ts
  apps/front/client/helpers/translationsMap.tsx
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/fr.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

chore(global): update translations
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

feat(assembly-ui): added order and moved sidebar sources
  apps/assembly-ui/client/pages/EventSources/documentSources.tsx
  apps/assembly-ui/components/SideBar/Content.tsx
Due: none

feat(assembly-ui): added embed typeform
  apps/assembly-ui/client/pages/Event/index.tsx
  apps/assembly-ui/components/Welcome/index.tsx
  apps/assembly-ui/server/middleware/contentSecurityPolicy.ts
Due: none

fix(assembly-ui): fix crash sidebar
  apps/assembly-ui/components/SideBar/Content.tsx
Due: none

chore(global): update translations
  apps/assembly-ui/client/pages/Static/i18n/en.json
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
Due: none

feat(assembly-ui): handle cookiefirst disabling on video player
  apps/assembly-ui/components/ReactPlayer/YoutubePlayer.tsx
Due: none

fix(assembly-ui): cookie acceptance for video player
  apps/assembly-ui/components/ReactPlayer/YoutubePlayer.tsx
Due: none

chore(global): update translations
  apps/assembly-ui/i18n/en.json
Due: none

feat(front): update result page report
  apps/assembly-ui/webpack/base.config.js
  apps/front/client/app/Consultation/Results/Contact/index.tsx
  apps/front/client/app/Consultation/Results/Report/index.tsx
  apps/front/client/app/Consultation/Results/ResultCardSidebar/style.ts
  apps/front/client/pages/Consultation/Results.tsx
  apps/front/i18n/fr.json
  apps/front/webpack/base.config.js
  apps/front/webpack/dev.config.js
  apps/widget/webpack/base.config.js
  apps/widget/webpack/dev.config.js
  cypress/integration/front/ResultsPage.feature
  package/types/Question.d.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(front): added vivatech block make, pano limit source & source block
  apps/assembly-ui/components/Feed/Sources/ShowSources.tsx
  apps/assembly-ui/utils/constants.ts
  apps/front/client/app/Homepage/Hero/TemporaryVivatech.tsx
  apps/front/client/app/Homepage/Hero/name.png
  apps/front/client/app/Homepage/Hero/style.ts
  apps/front/client/pages/Home/index.tsx
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/fr.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

fix(assembly-ui): cookie consent for video player
  apps/assembly-ui/components/ReactPlayer/YoutubePlayer.tsx
Due: none
