Repository makeorg/monofront: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

e2e-front:
  stage: check
  image: cypress/browsers:node-18.16.0-chrome-114.0.5735.133-1-ff-114.0.2-edge-114.0.1823.51-1
  before_script:
  - node -v
  - export YARN_VERSION="$YARN_VERSION"
  - corepack enable yarn
  - corepack prepare
  - yarn install
  cache: []
  variables:
  ...

e2e-widget:
  stage: check
  image: cypress/browsers:node-18.16.0-chrome-114.0.5735.133-1-ff-114.0.2-edge-114.0.1823.51-1
  before_script:
  - node -v
  - export YARN_VERSION="$YARN_VERSION"
  - corepack enable yarn
  - corepack prepare
  - yarn install
  cache: []
  variables:
  ...

build-make-front:
  stage: build
  tags:
  - docker
  before_script:
  - export IMAGE_VERSION=`git rev-parse --short=10 HEAD`
  - mkdir -p /var/lib/docker
  - mount -t tmpfs -o size=12G tmpfs /var/lib/docker
  - if [ ! -e /var/run/docker.sock ]; then DOCKER_DRIVER=overlay2 dockerd & fi
  ...

build-make-widget:
  stage: build
  tags:
  - docker
  before_script:
  - export IMAGE_VERSION=`git rev-parse --short=10 HEAD`
  - mkdir -p /var/lib/docker
  - mount -t tmpfs -o size=12G tmpfs /var/lib/docker
  - if [ ! -e /var/run/docker.sock ]; then DOCKER_DRIVER=overlay2 dockerd & fi
  ...

build-make-translator:
  stage: build
  tags:
  - docker
  before_script:
  - export IMAGE_VERSION=`git rev-parse --short=10 HEAD`
  - mkdir -p /var/lib/docker
  - mount -t tmpfs -o size=12G tmpfs /var/lib/docker
  - if [ ! -e /var/run/docker.sock ]; then DOCKER_DRIVER=overlay2 dockerd & fi
  ...

build-make-content:
  stage: build
  tags:
  - docker
  before_script:
  - export IMAGE_VERSION=`git rev-parse --short=10 HEAD`
  - mkdir -p /var/lib/docker
  - mount -t tmpfs -o size=12G tmpfs /var/lib/docker
  - if [ ! -e /var/run/docker.sock ]; then DOCKER_DRIVER=overlay2 dockerd & fi
  ...

deploy-front-preproduction:
  stage: deploy
  script:
  ...

deploy-widget-preproduction:
  stage: deploy
  script:
  ...

deploy-translator-preproduction:
  stage: deploy
  script:
  ...

deploy-content-preproduction:
  stage: deploy
  script:
  ...

deploy-front-production:
  stage: deploy
  script:
  ...

deploy-widget-production:
  stage: deploy
  script:
  ...

deploy-translator-production:
  stage: deploy
  script:
  ...

deploy-content-production:
  stage: deploy
  script:
  ...

feat(front): assembly added i18n
  apps/assembly/Dockerfile
  apps/assembly/client/App.tsx
  apps/assembly/client/index.tsx
  apps/assembly/env.ts
  apps/assembly/i18n/en.json
  apps/assembly/i18n/fr.json
  apps/assembly/i18n/index.ts
  apps/assembly/package.json
  apps/assembly/public/index.html
  apps/assembly/server/index.tsx
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(front): 3454 init build assembly V1
  apps/assembly/Dockerfile
  apps/assembly/bin/start
  apps/assembly/ecosystem.config.js
  apps/assembly/env.ts
  apps/assembly/package.json
  apps/assembly/public/index.html
  apps/assembly/server/index.tsx
  apps/assembly/webpack/base.config.js
  docker-compose.dev.yaml
  tsconfig.json
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

chore(assembly): update assembly image name
  .gitlab-ci.yml
  commitlint.config.js
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

chore(assembly): update assembly ci
  .gitlab-ci.yml
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(global): fix panel behavior participate, commented cobranding logo
  apps/front/client/app/Header/index.tsx
  apps/front/client/app/index.tsx
  apps/front/client/helpers/panel.ts
  apps/front/client/pages/Consultation/Participate.tsx
  apps/front/client/pages/Consultation/QuestionWrapper.tsx
  apps/front/client/pages/Consultation/SequenceByKeyword.tsx
  apps/front/client/pages/Consultation/SequenceByKind.tsx
  apps/front/client/pages/Home/index.tsx
  apps/widget/tsconfig.json
  package/components/Sequence/SequenceByKeyword.tsx
  package/designsystem/tsconfig.json
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(front): fix cookie switch
  apps/front/client/index.tsx
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

feat(front): 3499_panel_behavior_restore_cobranding
  apps/front/client/app/Header/index.tsx
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

refactor(front): read cookie from server side
  apps/front/client/app/SwitchCountryLanguage/index.tsx
  apps/front/client/app/index.tsx
  apps/front/client/helpers/initDevState.ts
  apps/front/client/index.tsx
  apps/front/client/pages/Static/Cookies.tsx
  apps/front/server/reactRender.tsx
  package/components/CookieModal/CookieSwitch.tsx
  package/components/CookieModal/SecondStep.tsx
  package/components/CookieModal/index.tsx
  package/components/Sharing/index.tsx
  package/store/actionTypes.ts
  package/store/actions/user/cookiesPreferences/index.ts
  package/store/actions/user/trackingConsent/index.ts
  package/store/initialState.ts
  package/store/reducers/user/cookiesPreferences/index.ts
  package/store/reducers/user/index.ts
  package/store/reducers/user/trackingConsent/index.ts
  package/types/Store.d.ts
  package/types/enums/tracking.ts
  package/utils/constants/cookies.ts
  package/utils/helpers/clientCookies.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

fix(front): missing user state from route state
  apps/front/server/reactRender.tsx
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

chore(global): remove translator package after migration to new repository
  .gitlab-ci.yml
  apps/translator/.env.dist
  apps/translator/Dockerfile
  apps/translator/README.md
  apps/translator/babel.config.json
  apps/translator/ecosystem.config.cjs
  apps/translator/jest.config.ts
  apps/translator/nodemon.json
  apps/translator/package.json
  apps/translator/src/Controllers/Main.controller.ts
  apps/translator/src/Controllers/Version.controller.ts
  apps/translator/src/Logger/logger.ts
  apps/translator/src/Middlewares/appNameHeader.ts
  apps/translator/src/Middlewares/headersResponse.ts
  apps/translator/src/Middlewares/requestId.ts
  apps/translator/src/Middlewares/security.ts
  apps/translator/src/Routes/index.ts
  apps/translator/src/Translator/TranslatorProvider/ChatGPTProvider/index.ts
  apps/translator/src/Translator/TranslatorProvider/DeeplProvider/index.ts
  apps/translator/src/Translator/TranslatorProvider/types.ts
  apps/translator/src/Translator/index.ts
  apps/translator/src/Types/types.ts
  apps/translator/src/Validator/translationDemandValidator.ts
  apps/translator/src/configuration.ts
  apps/translator/src/env.ts
  apps/translator/src/index.ts
  apps/translator/tsconfig.json
  apps/translator/webpack.config.cjs
  commitlint.config.js
  docker-compose.dev.yaml
  tsconfig.json
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(global): update front packages
  apps/assembly/package.json
  apps/front/package.json
  apps/widget/package.json
  package/designsystem/package.json
  package/logger/package.json
  package/ui/package.json
  package/utils/package.json
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(global): added routing client and ssr for panoramic
  apps/assembly/.env.local
  apps/assembly/client/App.tsx
  apps/assembly/client/app/Routes.tsx
  apps/assembly/client/app/index.tsx
  apps/assembly/client/helpers/initDevState.ts
  apps/assembly/client/index.tsx
  apps/assembly/client/pages/Customer/index.tsx
  apps/assembly/client/pages/Event/index.tsx
  apps/assembly/client/pages/Home/index.tsx
  apps/assembly/client/pages/NotFound/index.tsx
  apps/assembly/env.ts
  apps/assembly/package.json
  apps/assembly/public/index.html
  apps/assembly/server/index.tsx
  apps/assembly/server/paths.ts
  apps/assembly/server/reactRender.tsx
  apps/assembly/server/routes.ts
  apps/assembly/server/ssr/defaultRoute.ts
  apps/assembly/server/technicalPages.ts
  apps/assembly/utils/env.ts
  apps/assembly/utils/routes.ts
  apps/assembly/webpack/babel.config.js
  apps/assembly/webpack/base.config.js
  apps/assembly/webpack/dev.config.js
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(global): added onboarding modal
  apps/assembly/client/app/index.tsx
  apps/assembly/client/pages/Event/index.tsx
  apps/assembly/components/OnboardingModal.tsx
  apps/assembly/components/style.ts
  apps/assembly/i18n/fr.json
  apps/assembly/package.json
  apps/assembly/utils/DefaultStyle.ts
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(global): onboarding modal content
  apps/assembly/assets/PP_Thematiquex2.png
  apps/assembly/assets/PromptSuggerex2.png
  apps/assembly/assets/Sourcesx2.png
  apps/assembly/client/index.tsx
  apps/assembly/client/pages/Event/index.tsx
  apps/assembly/components/OnboardingContent.tsx
  apps/assembly/components/OnboardingModal.tsx
  apps/assembly/components/style.ts
  apps/assembly/i18n/fr.json
  apps/assembly/public/index.html
  apps/assembly/utils/DefaultStyle.ts
  package/utils/middleware/contentSecurityPolicy.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(global): added header and blocks
  apps/assembly/assets/Client_logos.png
  apps/assembly/assets/SidebarSimple.tsx
  apps/assembly/client/app/index.tsx
  apps/assembly/client/pages/Event/index.tsx
  apps/assembly/components/header/Header.tsx
  apps/assembly/components/header/style.ts
  apps/assembly/components/onboarding/OnboardingContent.tsx
  apps/assembly/components/onboarding/OnboardingModal.tsx
  apps/assembly/components/onboarding/style.ts
  apps/assembly/components/prompt/Prompt.tsx
  apps/assembly/components/prompt/style.ts
  apps/assembly/components/style.ts
  apps/assembly/components/welcome/Welcome.tsx
  apps/assembly/components/welcome/style.ts
  apps/assembly/i18n/fr.json
Due: none

feat(assembly): add content api, services and state
  .jscpd.json
  apps/assembly/client/app/index.tsx
  apps/assembly/client/index.tsx
  apps/assembly/package.json
  apps/assembly/public/index.html
  apps/assembly/server/api/Content.ts
  apps/assembly/server/api/services/ContentApiService.ts
  apps/assembly/server/index.tsx
  apps/assembly/server/reactRender.tsx
  apps/assembly/server/routes.ts
  apps/assembly/server/ssr/eventRoute.ts
  apps/assembly/store/context.tsx
  apps/assembly/types/index.d.ts
  apps/assembly/utils/routes.ts
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(global): added welcome component panoramix
  apps/assembly/assets/IconPano.png
  apps/assembly/client/pages/Event/index.tsx
  apps/assembly/client/style.ts
  apps/assembly/components/header/style.ts
  apps/assembly/components/onboarding/OnboardingModal.tsx
  apps/assembly/components/onboarding/style.ts
  apps/assembly/components/prompt/style.ts
  apps/assembly/components/reactPlayer/YoutubePlayer.tsx
  apps/assembly/components/reactPlayer/style.ts
  apps/assembly/components/style.ts
  apps/assembly/components/welcome/Welcome.tsx
  apps/assembly/components/welcome/style.ts
  apps/assembly/package.json
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly): generated prompt style
  apps/assembly/components/prompt/Prompt.tsx
  apps/assembly/components/prompt/style.ts
Due: none

feat(assembly): prompt theme answer style
  apps/assembly/assets/User.png
  apps/assembly/client/pages/Event/index.tsx
  apps/assembly/components/onboarding/style.ts
  apps/assembly/components/prompt/Prompt.tsx
  apps/assembly/components/prompt/style.ts
  apps/assembly/components/promptResponse/PromptResponseContainer.tsx
  apps/assembly/components/promptResponse/PromptResponseQuestion.tsx
  apps/assembly/components/promptResponse/PromptThemeResponse.tsx
  apps/assembly/components/promptResponse/style.ts
  apps/assembly/i18n/fr.json
Due: none

feat(assembly): update event and customer with slug
  apps/assembly/server/api/Content.ts
  apps/assembly/server/api/services/ContentApiService.ts
  apps/assembly/server/ssr/eventRoute.ts
  apps/assembly/types/index.d.ts
  apps/assembly/utils/routes.ts
Due: none

feat(assembly): added prompt styled and fixed archi
  apps/assembly/assets/sendButton.png
  apps/assembly/assets/sendButtonInactive.png
  apps/assembly/assets/sendButtonStop.png
  apps/assembly/client/pages/Event/index.tsx
  apps/assembly/components/prompt/Form.tsx
  apps/assembly/components/prompt/Queries.tsx
  apps/assembly/components/prompt/style.ts
  apps/assembly/i18n/fr.json
Due: none

feat(assembly): add dev state
  apps/assembly/client/index.tsx
  apps/assembly/components/prompt/Queries.tsx
  apps/assembly/components/promptResponse/PromptResponseContainer.tsx
  apps/assembly/components/promptResponse/PromptThemeResponse.tsx
  apps/assembly/components/promptResponse/style.ts
  apps/assembly/components/welcome/Welcome.tsx
  apps/assembly/server/reactRender.tsx
  apps/assembly/store/context.tsx
  apps/assembly/store/devState.ts
  apps/assembly/types/index.d.ts
Due: none

feat(assembly): added sidebar menu and content
  apps/assembly/assets/ArrowSquareOut.tsx
  apps/assembly/assets/SidebarSimple.tsx
  apps/assembly/client/app/index.tsx
  apps/assembly/client/pages/Event/index.tsx
  apps/assembly/components/header/Header.tsx
  apps/assembly/components/header/index.tsx
  apps/assembly/components/header/style.ts
  apps/assembly/components/onboarding/Content.tsx
  apps/assembly/components/onboarding/Modal.tsx
  apps/assembly/components/onboarding/OnboardingContent.tsx
  apps/assembly/components/onboarding/style.ts
  apps/assembly/components/promptResponse/Container.tsx
  apps/assembly/components/promptResponse/Question.tsx
  apps/assembly/components/promptResponse/Response.tsx
  apps/assembly/components/sideBar/Content.tsx
  apps/assembly/components/sideBar/Modal.tsx
  apps/assembly/components/sideBar/style.ts
  apps/assembly/components/style.ts
  apps/assembly/components/welcome/Welcome.tsx
  apps/assembly/components/welcome/style.ts
  apps/assembly/i18n/fr.json
  apps/assembly/utils/DefaultStyle.ts
Due: none

feat(assembly): add feed
  apps/assembly/client/pages/Event/index.tsx
  apps/assembly/components/feed/Answer.tsx
  apps/assembly/components/feed/Question.tsx
  apps/assembly/components/feed/Themes.tsx
  apps/assembly/components/feed/index.tsx
  apps/assembly/components/feed/style.ts
  apps/assembly/components/prompt/Queries.tsx
  apps/assembly/components/promptResponse/Container.tsx
  apps/assembly/components/promptResponse/Question.tsx
  apps/assembly/components/promptResponse/Response.tsx
  apps/assembly/components/welcome/index.tsx
  apps/assembly/package.json
  apps/assembly/server/index.tsx
  apps/assembly/server/middleware/contentSecurityPolicy.ts
  apps/assembly/server/ssr/eventRoute.ts
  apps/assembly/store/context.tsx
  apps/assembly/store/devState.ts
  apps/assembly/store/feed/actions.ts
  apps/assembly/store/feed/reducer.ts
  apps/assembly/store/feed/types.ts
  apps/assembly/types/index.d.ts
  monofront.code-workspace
  package/utils/middleware/contentSecurityPolicy.ts
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly): add carousel for pregenerated content on mobile
  apps/assembly/client/app/index.tsx
  apps/assembly/client/pages/Event/index.tsx
  apps/assembly/components/Feed/Answer.tsx
  apps/assembly/components/Feed/Question.tsx
  apps/assembly/components/Feed/Themes.tsx
  apps/assembly/components/Feed/index.tsx
  apps/assembly/components/Feed/style.ts
  apps/assembly/components/Header/index.tsx
  apps/assembly/components/Header/style.ts
  apps/assembly/components/Onboarding/Content.tsx
  apps/assembly/components/Onboarding/Modal.tsx
  apps/assembly/components/Onboarding/style.ts
  apps/assembly/components/Prompt/Form.tsx
  apps/assembly/components/Prompt/Queries/Desktop.tsx
  apps/assembly/components/Prompt/Queries/Mobile.tsx
  apps/assembly/components/Prompt/Queries/index.tsx
  apps/assembly/components/Prompt/Queries/style.ts
  apps/assembly/components/Prompt/style.ts
  apps/assembly/components/ReactPlayer/YoutubePlayer.tsx
  apps/assembly/components/ReactPlayer/style.ts
  apps/assembly/components/SideBar/Content.tsx
  apps/assembly/components/SideBar/Modal.tsx
  apps/assembly/components/SideBar/style.ts
  apps/assembly/components/Welcome/index.tsx
  apps/assembly/components/Welcome/style.ts
  apps/assembly/components/prompt/Queries.tsx
  apps/assembly/package.json
  package/types/View.d.ts
  package/utils/hooks/useSlider/index.ts
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly): update state behaviour
  apps/assembly/components/Feed/index.tsx
  apps/assembly/components/Feed/style.ts
  apps/assembly/components/Prompt/Queries/index.tsx
  apps/assembly/components/style.ts
  apps/assembly/store/feed/reducer.ts
Due: none

fix(front): handle proposal display from deleted organisation
  package/components/Proposal/Author/index.tsx
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly): added transcript sources style and revised some styles
  apimock/content/db/defaultEvent.json
  apps/assembly/assets/Video.tsx
  apps/assembly/client/pages/Event/index.tsx
  apps/assembly/components/Feed/Answer.tsx
  apps/assembly/components/Feed/Transcript.tsx
  apps/assembly/components/Feed/index.tsx
  apps/assembly/components/Feed/style.ts
  apps/assembly/components/Prompt/Queries/index.tsx
  apps/assembly/components/Prompt/Queries/style.ts
  apps/assembly/components/ReactPlayer/YoutubePlayer.tsx
  apps/assembly/components/ReactPlayer/style.ts
  apps/assembly/components/SideBar/Modal.tsx
  apps/assembly/components/SideBar/style.ts
  apps/assembly/components/style.ts
  apps/assembly/i18n/fr.json
  apps/assembly/store/devState.ts
  apps/assembly/types/index.d.ts
Due: none

feat(assembly): document sources, updated types and style fixes
  apps/assembly/assets/BookOpenText.tsx
  apps/assembly/assets/Video.tsx
  apps/assembly/components/Feed/Answer.tsx
  apps/assembly/components/Feed/Sources.tsx
  apps/assembly/components/Feed/Transcript.tsx
  apps/assembly/components/Feed/index.tsx
  apps/assembly/components/Feed/style.ts
  apps/assembly/components/Prompt/Form.tsx
  apps/assembly/components/Prompt/Queries/Desktop.tsx
  apps/assembly/components/Prompt/Queries/Mobile.tsx
  apps/assembly/components/Prompt/Queries/index.tsx
  apps/assembly/components/Prompt/Queries/style.ts
  apps/assembly/components/Prompt/style.ts
  apps/assembly/i18n/fr.json
  apps/assembly/server/api/Content.ts
  apps/assembly/store/devState.ts
  apps/assembly/types/index.d.ts
Due: none

feat(assembly): add llm to feed
  apps/assembly/.env.local
  apps/assembly/components/Feed/Answer.tsx
  apps/assembly/components/Feed/Sources.tsx
  apps/assembly/components/Prompt/Form.tsx
  apps/assembly/components/Prompt/Queries/Desktop.tsx
  apps/assembly/components/Prompt/Queries/Mobile.tsx
  apps/assembly/components/Prompt/Queries/index.tsx
  apps/assembly/components/Prompt/Stream.tsx
  apps/assembly/package.json
  apps/assembly/server/api/LLM.ts
  apps/assembly/server/index.ts
  apps/assembly/server/middleware/contentSecurityPolicy.ts
  apps/assembly/server/routes.ts
  apps/assembly/store/feed/actions.ts
  apps/assembly/store/feed/reducer.ts
  apps/assembly/store/feed/types.ts
  apps/assembly/types/index.d.ts
  apps/assembly/utils/routes.ts
  apps/assembly/webpack/babel.config.js
  apps/assembly/webpack/base.config.js
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly): carousel mobile sources and fixes
  apps/assembly/components/Feed/Answer.tsx
  apps/assembly/components/Feed/SourcesMobile.tsx
  apps/assembly/components/Feed/style.ts
Due: none

feat(assembly): hyperlink buttons llm and updates state for handling
  apps/assembly/client/pages/Event/index.tsx
  apps/assembly/components/Feed/Answer.tsx
  apps/assembly/components/Feed/Sources.tsx
  apps/assembly/components/Feed/index.tsx
  apps/assembly/components/Feed/style.ts
  apps/assembly/components/Prompt/Form.tsx
  apps/assembly/components/Prompt/Queries/index.tsx
  apps/assembly/components/Prompt/Queries/style.ts
  apps/assembly/components/Prompt/Stream.tsx
  apps/assembly/components/ReactPlayer/YoutubePlayer.tsx
  apps/assembly/components/Welcome/index.tsx
  apps/assembly/i18n/fr.json
  apps/assembly/server/api/LLM.ts
  apps/assembly/server/ssr/eventRoute.ts
  apps/assembly/store/context.tsx
  apps/assembly/store/devState.ts
  apps/assembly/store/stream/actions.ts
  apps/assembly/store/stream/reducer.ts
  apps/assembly/store/stream/types.ts
  apps/assembly/types/index.d.ts
Due: none

feat(assembly-ui): healtcheck on version file
  apps/assembly-ui/Dockerfile
Due: none

feat(assembly-ui): added markdown, fixed llm, welcome stays visible
  apps/assembly-ui/client/pages/Event/index.tsx
  apps/assembly-ui/components/Feed/Answer.tsx
  apps/assembly-ui/components/Feed/index.tsx
  apps/assembly-ui/package.json
  apps/assembly-ui/store/devState.ts
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

chore(assembly-ui): enable deploy step
  .gitlab-ci.yml
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly-ui): updated welcome and removed theme prompt
  apps/assembly-ui/components/Feed/Sources.tsx
  apps/assembly-ui/components/Feed/Themes.tsx
  apps/assembly-ui/components/Feed/index.tsx
  apps/assembly-ui/components/Feed/style.ts
  apps/assembly-ui/components/Prompt/Queries/Desktop.tsx
  apps/assembly-ui/components/Prompt/Queries/Mobile.tsx
  apps/assembly-ui/components/Prompt/Queries/index.tsx
  apps/assembly-ui/components/Prompt/Queries/style.ts
  apps/assembly-ui/components/Welcome/Themes.tsx
  apps/assembly-ui/components/Welcome/index.tsx
  apps/assembly-ui/components/Welcome/style.ts
  apps/assembly-ui/i18n/fr.json
Due: none

feat(assembly-ui): update event model
  apps/assembly-ui/assets/ArrowSquareOut.tsx
  apps/assembly-ui/assets/Client_logos.png
  apps/assembly-ui/components/Header/index.tsx
  apps/assembly-ui/components/Onboarding/Content.tsx
  apps/assembly-ui/components/SideBar/Content.tsx
  apps/assembly-ui/components/SideBar/style.ts
  apps/assembly-ui/components/Welcome/index.tsx
  apps/assembly-ui/server/api/Content.ts
  apps/assembly-ui/store/context.tsx
  apps/assembly-ui/store/devState.ts
  apps/assembly-ui/types/index.d.ts
Due: none

Path conditions:
  e2e-front: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  e2e-widget: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-front: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-widget: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-translator: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  build-make-content: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock
  deploy-front-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-widget-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-translator-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  deploy-content-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock
  deploy-front-production: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-widget-production: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-translator-production: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  deploy-content-production: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock
