Repository makeorg/monofront: changes, and which GitLab CI jobs are due for each by the changed paths.
All: make-front, make-widget

.gitlab-ci.yml:

image: makeorg/docker-arch-docker:latest

variables: &global_variables
  YARN_VERSION: "1.22.5"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - ~/.cache
    - node_modules

stages:
  - check
  - apps
  
.check:
  stage: check
  except: 
    - production
  image: "node:16.9-alpine"
  before_script: 
    - node -v
    - export YARN_VERSION="$YARN_VERSION"
    - yarn install --check-files

lint:
  extends: .check
  script:  
    - yarn eslint ./

check-types:
  extends: .check
  script:
    - yarn tsc --noEmit

test:
  extends: .check
  script:    
    - yarn jest --coverage
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - coverage

jscpd:
  extends: .check
  script:
    - yarn jscpd
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - reports

make-front:
  stage: apps
  trigger:
      include: apps/front/.gitlab-ci.yml
      strategy: depend
  rules:
    - changes:
      - apps/front/*
      - api/*
      - assets/*
      - components/*
      - store/*
      - ui/*
      - utils/*

make-widget:
  stage: apps
  trigger:
      include: apps/widget/.gitlab-ci.yml
      strategy: depend
  rules:
    - changes:
      - apps/widget/*
      - api/*
      - assets/*
      - components/*
      - store/*
      - ui/*
      - utils/*

feat(global): updating tracking in facebook and google components logic
  components/Auth/Social/FacebookAuthentication.tsx
  components/Auth/Social/GoogleAuthentication.tsx
  store/actions/authentication/index.ts
  utils/services/User.ts
Due: none

feat(global): fixing social login success tracking
  components/Auth/Social/FacebookAuthentication.tsx
  components/Auth/Social/GoogleAuthentication.tsx
  store/actions/authentication/index.ts
  utils/services/User.ts
Due: none

feat(global): updating tracking in facebook and google components logic
  components/Auth/Social/FacebookAuthentication.tsx
  components/Auth/Social/GoogleAuthentication.tsx
  store/actions/authentication/index.ts
Due: none

feat(global): handling rebase modifications
  store/actions/authentication/index.ts
  types/User.d.ts
  utils/services/User.ts
Due: none

feat(global): adding widget translation and de language for ch
  apps/widget/i18n/de.json
  apps/widget/i18n/en.json
  utils/constants/languages.ts
Due: none

feat(global): adding tracking for social login success
  components/Auth/Social/FacebookAuthentication.tsx
  components/Auth/Social/GoogleAuthentication.tsx
  store/actions/authentication/index.ts
  types/User.d.ts
  utils/services/User.ts
Due: none

chore(widget): rename environment variables for better understanding
  apps/front/bin/start
  apps/front/server/index.ts
  apps/front/server/reactRender.tsx
  apps/front/webpack/dev.config.js
  apps/widget/.env.local
  apps/widget/.env.test
  apps/widget/README.md
  apps/widget/bin/start
  apps/widget/public/index.html
  apps/widget/server/index.ts
  apps/widget/server/reactRender.tsx
  apps/widget/webpack/dev.config.js
  assets/env.ts
Due: make-front, make-widget

feat(global): updating widget styles in header and card
  apps/widget/client/components/HeaderPanel/style.ts
  components/Proposal/Author/style.ts
  components/Sequence/Cards/style.ts
  components/Sequence/style.ts
  components/Vote/style.ts
Due: none

chore(widget): add ci production steps
  .gitlab-ci.yml
  apps/widget/.gitlab-ci.yml
Due: make-widget

chore(global): MP-2255 split ci for each apps
  .gitlab-ci.yml
  apps/front/.gitlab-ci.yml
  apps/widget/.gitlab-ci.yml
Due: make-front, make-widget

chore(global): MP-2255 build ci workflow based on changed files
  .gitlab-ci.yml
Due: none

chore(front): fix node image version for development env
  apps/front/Dockerfile
Due: make-front

feat(global): updating cgu
  apps/front/client/pages/Static/TermsOfUse/DE.tsx
  apps/front/client/pages/Static/TermsOfUse/EN.tsx
  apps/front/client/pages/Static/TermsOfUse/FR.tsx
Due: none

feat(global): changing next card button on sequence
  assets/css-in-js/DefaultStyle.ts
  components/Sequence/Cards/style.ts
  components/Sequence/Progress/index.tsx
  components/Sequence/Progress/style.ts
  components/Sequence/style.ts
  components/Vote/index.tsx
  store/actions/authentication/index.ts
Due: none

feat(global): updating elements with former max height
  assets/css-in-js/DefaultStyle.ts
  components/Sequence/Cards/style.ts
  components/Sequence/style.ts
Due: none

fix(front): node env var for front office app
  apps/front/.env.local
  apps/front/.env.test
  apps/front/webpack/dev.config.js
Due: make-front

feat(global): updating languages for ch and be
  utils/constants/languages.ts
Due: none

feat(global): adding maintenance i18n
  apps/widget/client/Pages/Maintenance/index.tsx
Due: none

fix(global): update button and margins on widget
  components/Sequence/Cards/style.ts
  components/Vote/style.ts
Due: none

feat(global): update cgu date
  utils/constants/config.ts
Due: none

feat(global): update sort and filters styles
  apps/front/client/app/Consultation/ExploreFilters/index.tsx
  apps/front/client/app/Consultation/ExploreFilters/style.ts
  apps/front/client/pages/Consultation/style.ts
  apps/front/i18n/de.json
  apps/front/i18n/en.json
  apps/front/i18n/fr.json
  ui/elements/SeparatorsElements.ts
Due: none

fix(global): MP-2254 handle mixpanel activation
  apps/front/client/index.tsx
  components/CookieModal/index.tsx
  utils/constants/cookies.ts
  utils/helpers/cookies.ts
  utils/services/Trackers/MixpanelTracking.ts
  utils/services/TrackingService.ts
Due: none

chore(global): remove deprecated body-parser
  apps/front/package.json
  apps/front/server/index.ts
  apps/widget/package.json
  apps/widget/server/index.ts
  yarn.lock
Due: make-front, make-widget

refactor(global): deal with type warnings in api service
  api/ApiService/ApiService.client.ts
  api/ApiService/ApiService.mock.ts
  api/ApiService/ApiService.server.ts
  api/ApiService/ApiService.shared.ts
  api/ApiService/ApiServiceError.ts
  api/ApiService/ExpressApiService.shared.ts
  api/ApiService/index.spec.ts
  api/ApiService/index.ts
  api/ViewsApiService.ts
  docs/tracking.md
  types/Api.d.ts
Due: make-front, make-widget

refactor(global): simplify logging services with more separation
  api/MaintenanceApiService.ts
  apps/front/ecosystem.config.js
  apps/front/server/api/logger.ts
  apps/front/server/index.ts
  apps/front/server/reactRender.tsx
  apps/front/server/service/QuestionService.ts
  apps/front/server/service/UserService.ts
  apps/front/server/service/ViewsService.ts
  apps/front/server/ssr/accountActivationRoute.ts
  apps/front/server/ssr/helpers/ssr.helper.spec.ts
  apps/front/server/ssr/helpers/ssr.helper.ts
  apps/front/server/ssr/homepageRoute.ts
  apps/front/server/ssr/passwordRecoveryRoute.ts
  apps/front/server/ssr/questionRoute.ts
  apps/front/server/ssr/sequenceRoute.ts
  apps/front/webpack/dev.config.js
  apps/widget/ecosystem.config.js
  apps/widget/server/api/logger.ts
  apps/widget/server/helpers/ssr.helper.spec.ts
  apps/widget/server/helpers/ssr.helper.ts
  apps/widget/server/index.ts
  apps/widget/server/reactRender.tsx
  apps/widget/server/service/QuestionService.ts
  apps/widget/server/ssr/mainRoute.ts
  apps/widget/server/ssr/maintenanceRoute.ts
  assets/env.ts
  docker-compose.dev.yaml
  utils/helpers/logger.ts
  utils/helpers/loggerNormalizer.ts
  utils/helpers/numberFormatter.spec.ts
  utils/middleware/headers.ts
  utils/middleware/maintenance.ts
  utils/services/Logger.ts
  utils/services/Maintenance.ts
Due: make-front, make-widget

refactor(global): improve typing by replacing any types
  api/ApiService/index.spec.ts
  apps/front/client/index.tsx
  apps/front/tsconfig.json
  docs/tracking.md
  tsconfig.json
  types/Api.d.ts
  types/Tracking.d.ts
  utils/helpers/logger.ts
  utils/helpers/loggerNormalizer.ts
  utils/services/Logger.ts
  utils/services/Trackers/TwitterTracking.js
  utils/services/TrackingService.ts
Due: make-front

refactor(global): add docker compose configuration for cypress
  apimock/Dockerfile
  apps/front/.env.cypress
  apps/front/Dockerfile
  docker-compose.dev.yaml
  utils/services/Trackers/TwitterTracking.js
Due: make-front

fix(front): use correct options on create cookie
  apimock/routes/oauth.js
Due: none

fix(front): get correct fronturl env variable on client side to forge link
  apps/front/client/pages/Static/A11y/FR.tsx
Due: none

chore(global): MP-2298 handle tracking catchup
  apps/front/client/app/Routes.tsx
  apps/front/webpack/base.config.js
  apps/widget/webpack/base.config.js
  utils/helpers/cookies.ts
  utils/middleware/contentSecurityPolicy.ts
  utils/services/Trackers/FacebookTracking.ts
  utils/services/Trackers/MixpanelTracking.ts
  utils/services/Trackers/TwitterTracking.js
  utils/services/Trackers/TwitterTracking.ts
  utils/services/Trackers/twttr.js
  utils/services/TrackingService.ts
Due: none
