Repository makeorg/monofront: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

Path conditions:
  e2e-front: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  e2e-widget: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-front: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-widget: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-translator: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  build-make-content: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock
  deploy-front-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-widget-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-translator-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  deploy-content-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock
  deploy-front-production: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-widget-production: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-translator-production: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  deploy-content-production: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock

feat(front): update links and wordings
  apps/front/client/app/Homepage/Hero/TemporaryVivatech.tsx
  apps/front/client/app/Homepage/Hero/style.ts
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/fr.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

fix(assembly-ui): update max height on logo
  apps/assembly-ui/components/Header/style.ts
Due: none

fix(assembly-ui): fix page source, document title instead of value
  apps/assembly-ui/client/pages/EventSources/documentSources.tsx
Due: none

feat(assembly-ui): display-ai-disclaimer-font-size
  apps/assembly-ui/components/Prompt/style.ts
Due: none

fix(assembly-ui): correctly terminate the stream if the llm service call fails
  apps/assembly-ui/server/api/LLM.ts
Due: none

feat(assembly-ui): tracking added reinsurance
  apps/assembly-ui/client/pages/About/index.tsx
  apps/assembly-ui/docs/tracking.md
  apps/assembly-ui/trackingConfiguration.yaml
Due: none

chore(front): update translations
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/fr.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

chore(front): update german wording
  apps/front/i18n/de.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

feat(assembly-ui): update tracking display prompt answer
  apps/assembly-ui/components/Feed/Answer.tsx
  apps/assembly-ui/docs/tracking.md
  apps/assembly-ui/trackingConfiguration.yaml
Due: none

chore(global): update translations
  apps/assembly-ui/client/pages/Static/i18n/de.json
  apps/assembly-ui/client/pages/Static/i18n/en.json
  apps/assembly-ui/client/pages/Static/i18n/es.json
  apps/assembly-ui/client/pages/Static/i18n/fr.json
  apps/front/client/pages/Static/i18n/de.json
  apps/front/i18n/en.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

chore(global): update translations
  apps/front/i18n/de.json
  apps/widget/i18n/de.json
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, deploy-front-preproduction, deploy-widget-preproduction, deploy-front-production, deploy-widget-production

chore(global): update translations
  apps/assembly-ui/i18n/en.json
Due: none

feat(assembly-ui): done
  apps/assembly-ui/client/pages/About/index.tsx
  apps/assembly-ui/client/pages/About/style.ts
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
Due: none

fix(front): fix lang bug on profile and color, removed usememo
  apps/front/client/app/Opinions/Commitment/Preview/index.tsx
  apps/front/client/app/Opinions/Commitment/Qualification/index.tsx
  package/components/Proposal/DeprecatedAuthor/Styled/index.ts
  package/components/Proposal/DeprecatedAuthor/index.tsx
  package/components/Proposal/DetailledVoteResults/Item/index.tsx
  package/components/Proposal/ProfileVoteCard/index.tsx
  package/components/Vote/Button/Unvote.tsx
  package/components/Vote/Button/Vote.tsx
  package/components/Vote/Result/index.tsx
  package/designsystem/tokens/colors.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(front): vivatech block removed
  apps/front/client/app/Homepage/Hero/TemporaryVivatech.tsx
  apps/front/client/app/Homepage/Hero/name.png
  apps/front/client/app/Homepage/Hero/style.ts
  apps/front/client/pages/Home/index.tsx
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/fr.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

chore(global): update translations
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
Due: none

feat(assembly-ui): update title and small fixes
  apps/assembly-ui/client/pages/About/index.tsx
  apps/assembly-ui/components/Welcome/index.tsx
  apps/assembly-ui/components/Welcome/style.ts
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
  package/components/Proposal/Submit/Form.tsx
  package/designsystem/tokens/colors.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(front): tracking added
  apps/front/client/app/Consultation/Results/Report/index.tsx
  apps/front/docs/TRACKING.md
  package/utils/services/Tracking.ts
  package/utils/services/trackingConfiguration.yaml
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly-ui): added welcome exergue
  apps/assembly-ui/components/Welcome/index.tsx
  apps/assembly-ui/components/Welcome/style.ts
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
Due: none

feat(assembly-ui): added toggle presentation button
  apps/assembly-ui/components/Welcome/index.tsx
  apps/assembly-ui/components/Welcome/style.ts
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
Due: none

feat(assembly-ui): update themes padding
  apps/assembly-ui/components/Welcome/index.tsx
  apps/assembly-ui/components/Welcome/style.ts
Due: none

feat(assembly-ui): added see more tracking
  apps/assembly-ui/components/Welcome/index.tsx
  apps/assembly-ui/docs/tracking.md
  apps/assembly-ui/trackingConfiguration.yaml
Due: none

feat(assembly-ui): removed video and update style
  apps/assembly-ui/assets/panoecrand'accueil.png
  apps/assembly-ui/components/Welcome/index.tsx
  apps/assembly-ui/components/Welcome/style.ts
Due: none

chore(global): update translations
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
Due: none

feat(assembly-ui): clean for multisources
  apps/assembly-ui/components/Feed/Actions.tsx
  apps/assembly-ui/components/Feed/Answer.tsx
  apps/assembly-ui/components/Feed/Question.tsx
  apps/assembly-ui/components/Feed/Sources/SourcesAnswer.tsx
  apps/assembly-ui/components/Feed/Sources/SourcesElements.tsx
  apps/assembly-ui/components/Feed/index.tsx
  apps/assembly-ui/components/Feed/style.ts
  apps/assembly-ui/components/Prompt/Form.tsx
  apps/assembly-ui/components/Prompt/Stream.tsx
  apps/assembly-ui/components/Prompt/Suggestions.tsx
  apps/assembly-ui/components/Welcome/Themes.tsx
  apps/assembly-ui/docs/tracking.md
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
  apps/assembly-ui/server/api/Content.ts
  apps/assembly-ui/server/api/LLM.ts
  apps/assembly-ui/store/devState.ts
  apps/assembly-ui/store/feed/reducer.ts
  apps/assembly-ui/trackingConfiguration.yaml
  apps/assembly-ui/types/index.d.ts
Due: none

chore(global): update translations
  apps/assembly-ui/client/pages/Static/i18n/de.json
  apps/assembly-ui/client/pages/Static/i18n/en.json
  apps/assembly-ui/client/pages/Static/i18n/es.json
  apps/assembly-ui/client/pages/Static/i18n/fr.json
Due: none

feat(assembly-ui): fix issue with llm cache incomplete response
  apps/assembly-ui/components/Prompt/Stream.tsx
  apps/assembly-ui/package.json
  package/types/modules.d.ts
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly-ui): removed onboarding
  apps/assembly-ui/assets/Frame 293.png
  apps/assembly-ui/assets/Topic_Stack.tsx
  apps/assembly-ui/client/pages/Event/index.tsx
  apps/assembly-ui/client/pages/EventSources/documentSources.tsx
  apps/assembly-ui/components/Onboarding/Content.tsx
  apps/assembly-ui/components/Onboarding/Modal.tsx
  apps/assembly-ui/components/Onboarding/style.ts
  apps/assembly-ui/docs/tracking.md
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
  apps/assembly-ui/trackingConfiguration.yaml
  apps/assembly-ui/utils/routes.ts
Due: none

feat(front): added handling of space in proposal
  apimock/consultation/db/defaultQuestion.json
  package/components/Proposal/Submit/Form.tsx
  package/utils/helpers/question.spec.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly-ui): added told
  apps/assembly-ui/.env.local
  apps/assembly-ui/.env.mock
  apps/assembly-ui/.env.test
  apps/assembly-ui/client/Told/told.ts
  apps/assembly-ui/client/index.tsx
  apps/assembly-ui/client/pages/Event/index.tsx
  apps/assembly-ui/components/Welcome/style.ts
  apps/assembly-ui/public/index.html
  apps/assembly-ui/server/middleware/contentSecurityPolicy.ts
  apps/assembly-ui/server/reactRender.tsx
  apps/assembly-ui/utils/env.ts
Due: none

feat(assembly-ui): added meta
  apps/assembly-ui/client/index.tsx
  apps/assembly-ui/client/pages/About/index.tsx
  apps/assembly-ui/client/pages/Event/index.tsx
  apps/assembly-ui/client/pages/EventSources/documentSources.tsx
  apps/assembly-ui/client/pages/Static/Cookies/index.tsx
  apps/assembly-ui/client/pages/Static/Legal/index.tsx
  apps/assembly-ui/client/pages/Static/PrivacyPolicy/index.tsx
  apps/assembly-ui/components/Meta/index.tsx
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
  apps/assembly-ui/package.json
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

chore(global): update translations
  apps/assembly-ui/client/pages/Static/i18n/en.json
  apps/assembly-ui/client/pages/Static/i18n/fr.json
Due: none

feat(assembly-ui): update external img comp
  apps/assembly-ui/components/Header/index.tsx
  apps/assembly-ui/components/Header/style.ts
Due: none

chore(global): update translations
  apps/assembly-ui/i18n/de.json
Due: none

feat(front): add told make.org
  apps/front/.env.cypress
  apps/front/.env.local
  apps/front/.env.mock
  apps/front/.env.test
  apps/front/client/app/Told/told.ts
  apps/front/client/index.tsx
  apps/front/client/pages/Static/Cookies.tsx
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/fr.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
  apps/front/public/index.html
  apps/front/server/reactRender.tsx
  package/assets/env.ts
  package/utils/constants/config.ts
  package/utils/middleware/contentSecurityPolicy.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production
