Repository makeorg/monofront: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

e2e-front:
  stage: check
  image: cypress/browsers:node-18.16.0-chrome-114.0.5735.133-1-ff-114.0.2-edge-114.0.1823.51-1
  before_script:
  - node -v
  - export YARN_VERSION="$YARN_VERSION"
  - corepack enable yarn
  - corepack prepare
  - yarn install
  cache: []
  variables:
  ...

e2e-widget:
  stage: check
  image: cypress/browsers:node-18.16.0-chrome-114.0.5735.133-1-ff-114.0.2-edge-114.0.1823.51-1
  before_script:
  - node -v
  - export YARN_VERSION="$YARN_VERSION"
  - corepack enable yarn
  - corepack prepare
  - yarn install
  cache: []
  variables:
  ...

build-make-front:
  stage: build
  tags:
  - docker
  before_script:
  - export IMAGE_VERSION=`git rev-parse --short=10 HEAD`
  - mkdir -p /var/lib/docker
  - mount -t tmpfs -o size=12G tmpfs /var/lib/docker
  - if [ ! -e /var/run/docker.sock ]; then DOCKER_DRIVER=overlay2 dockerd & fi
  ...

build-make-widget:
  stage: build
  tags:
  - docker
  before_script:
  - export IMAGE_VERSION=`git rev-parse --short=10 HEAD`
  - mkdir -p /var/lib/docker
  - mount -t tmpfs -o size=12G tmpfs /var/lib/docker
  - if [ ! -e /var/run/docker.sock ]; then DOCKER_DRIVER=overlay2 dockerd & fi
  ...

build-make-translator:
  stage: build
  tags:
  - docker
  before_script:
  - export IMAGE_VERSION=`git rev-parse --short=10 HEAD`
  - mkdir -p /var/lib/docker
  - mount -t tmpfs -o size=12G tmpfs /var/lib/docker
  - if [ ! -e /var/run/docker.sock ]; then DOCKER_DRIVER=overlay2 dockerd & fi
  ...

build-make-content:
  stage: build
  tags:
  - docker
  before_script:
  - export IMAGE_VERSION=`git rev-parse --short=10 HEAD`
  - mkdir -p /var/lib/docker
  - mount -t tmpfs -o size=12G tmpfs /var/lib/docker
  - if [ ! -e /var/run/docker.sock ]; then DOCKER_DRIVER=overlay2 dockerd & fi
  ...

deploy-front-preproduction:
  stage: deploy
  script:
  ...

deploy-widget-preproduction:
  stage: deploy
  script:
  ...

deploy-translator-preproduction:
  stage: deploy
  script:
  ...

deploy-content-preproduction:
  stage: deploy
  script:
  ...

deploy-front-production:
  stage: deploy
  script:
  ...

deploy-widget-production:
  stage: deploy
  script:
  ...

deploy-translator-production:
  stage: deploy
  script:
  ...

deploy-content-production:
  stage: deploy
  script:
  ...

feat(front): update result page fdd action
  apps/front/client/pages/Consultation/Results.tsx
  apps/front/client/pages/Consultation/style.ts
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/fr.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
  package/designsystem/tokens/colors.ts
  package/types/Question.d.ts
  package/ui/Svg/elements/ActionsFDD.tsx
  package/utils/helpers/question.spec.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(ci): standardize pipeline
  .gitlab-ci.yml
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

chore(global): update translations
  apps/assembly-ui/i18n/de.json
  apps/assembly-ui/i18n/en.json
  apps/assembly-ui/i18n/es.json
  apps/assembly-ui/i18n/fr.json
Due: none

chore(global): update translations
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/fr.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

feat(assembly-ui): moved generated contents
  apimock/content/db/defaultGeneratedContent.json
  apimock/content/fixtures/generator.js
  apimock/content/routes/assembly.js
  apps/assembly-ui/components/Welcome/index.tsx
  apps/assembly-ui/server/api/Content.ts
  apps/assembly-ui/server/api/services/ContentApiService.ts
  apps/assembly-ui/server/ssr/documentSourcesRoute.ts
  apps/assembly-ui/server/ssr/eventRoute.ts
  apps/assembly-ui/store/context.tsx
  apps/assembly-ui/store/devState.ts
  apps/assembly-ui/types/index.d.ts
Due: none

feat(assembly-ui): assembly-ui-beta specific continuous integration
  .gitlab-ci.yml
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly-ui): webpack config for beta in production mode
  apps/assembly-ui/server/index.ts
  apps/assembly-ui/server/paths.ts
  apps/assembly-ui/server/routes.ts
  apps/assembly-ui/tsconfig.json
  apps/assembly-ui/webpack/base.config.js
  apps/assembly-ui/webpack/dev.config.js
  tsconfig.json
Due: none

feat(assembly-ui): webpack config for beta in dev mode
  apps/assembly-ui/configuration.json
  apps/assembly-ui/tsconfig.json
  apps/assembly-ui/utils/routes.ts
  apps/assembly-ui/webpack/dev.config.js
  tsconfig.json
Due: none

feat(assembly-ui): update x-powered-by header
  apps/assembly-ui/server/index.ts
Due: none

chore(global): update translations
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

Translated using Weblate (French)
  apps/assembly-ui/client/pages/Static/i18n/fr.json
Due: none

Translated using Weblate (English)
  apps/assembly-ui/client/pages/Static/i18n/en.json
Due: none

feat(front): evol dark pattern when connected
  package/components/Proposal/Submit/Form.tsx
  package/components/Proposal/Submit/style.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly-ui): added classes and id for told
  apps/assembly-ui/components/Feed/Sources/SourcesElements.tsx
  apps/assembly-ui/components/Prompt/Form.tsx
  apps/assembly-ui/components/Prompt/Suggestions.tsx
  apps/assembly-ui/components/Welcome/Themes.tsx
Due: none

fix(assembly-ui): fix reassurance page markdown
  apps/assembly-ui/client/pages/About/index.tsx
  apps/assembly-ui/client/pages/About/style.ts
Due: none

feat(assembly-ui): removed intro media url
  apimock/content/db/defaultEvent.json
  apps/assembly-ui/server/api/Content.ts
  apps/assembly-ui/store/context.tsx
  apps/assembly-ui/store/devState.ts
  apps/assembly-ui/types/index.d.ts
Due: none

feat(assembly-ui): fix scroll behavior
  apps/assembly-ui/components/Feed/index.tsx
Due: none

fix(front): about us link behaviour + helper cleaning
  apps/front/client/app/Navigation/Menu/Desktop.tsx
  apps/front/client/app/Navigation/Menu/Panel.tsx
  package/utils/helpers/url.spec.ts
  package/utils/helpers/url.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

fix(front): remove component from panel to avoid crash
  package/components/Proposal/Submit/Success.tsx
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

fix(assembly-ui): fix told
  apps/assembly-ui/components/Feed/Sources/SourcesElements.tsx
  apps/assembly-ui/components/Prompt/Form.tsx
Due: none

fix(front): add user id to author instead of proposal
  apimock/consultation/db/defaultProposal.json
  package/components/Proposal/Author/index.tsx
  package/types/Proposal.d.ts
  package/utils/helpers/proposal.spec.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

chore(global): update translations
  apps/assembly-ui/i18n/de.json
Due: none

chore(global): update translations
  apps/front/i18n/pl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
  apps/widget/i18n/bg.json
  apps/widget/i18n/cs.json
  apps/widget/i18n/da.json
  apps/widget/i18n/de.json
  apps/widget/i18n/el.json
  apps/widget/i18n/en.json
  apps/widget/i18n/es.json
  apps/widget/i18n/et.json
  apps/widget/i18n/fi.json
  apps/widget/i18n/hr.json
  apps/widget/i18n/hu.json
  apps/widget/i18n/it.json
  apps/widget/i18n/lt.json
  apps/widget/i18n/lv.json
  apps/widget/i18n/nl.json
  apps/widget/i18n/pl.json
  apps/widget/i18n/pt.json
  apps/widget/i18n/ro.json
  apps/widget/i18n/sk.json
  apps/widget/i18n/sl.json
  apps/widget/i18n/sv.json
  apps/widget/i18n/uk.json
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, deploy-front-preproduction, deploy-widget-preproduction, deploy-front-production, deploy-widget-production

chore(front): add access-control-allow-origin header for version page
  apps/front/server/technicalPages.ts
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

feat(front): add new domain to csp
  package/utils/middleware/contentSecurityPolicy.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

Translated using Weblate (German)
  apps/assembly-ui/i18n/de.json
Due: none

chore(widget): add allow origin header for version endpoint
  apps/widget/server/technicalPages.ts
Due: e2e-widget, build-make-widget, deploy-widget-preproduction, deploy-widget-production

chore: use the new way to get version data from ci
  apps/assembly-ui/Dockerfile
  apps/assembly-ui/package.json
  apps/assembly-ui/server/technicalPages.ts
  apps/front/Dockerfile
  apps/front/package.json
  apps/widget/Dockerfile
  apps/widget/package.json
  bin/version-build.js
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, deploy-front-preproduction, deploy-widget-preproduction, deploy-front-production, deploy-widget-production

fix(widget): exclude cookie setting for demographics cards on widget
  package/components/Sequence/Cards/ExtraData/index.tsx
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

chore(widget): activate logger client side
  apps/widget/client/index.tsx
  apps/widget/server/api/logger.ts
Due: e2e-widget, build-make-widget, deploy-widget-preproduction, deploy-widget-production

chore(front): activate logger client side
  apps/front/client/index.tsx
  apps/front/server/api/logger.ts
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

chore(global): translated using Weblate (Bulgarian)
  apps/front/client/pages/Static/i18n/bg.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

chore(global): translated using Weblate (French)
  apps/front/client/pages/Static/i18n/fr.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

chore(global): translated using Weblate (Czech)
  apps/front/client/pages/Static/i18n/cs.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

chore(global): translated using Weblate (Spanish)
  apps/front/client/pages/Static/i18n/es.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

chore(global): translated using Weblate (English)
  apps/front/client/pages/Static/i18n/en.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

chore(global): translated using Weblate (Finnish)
  apps/front/client/pages/Static/i18n/fi.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

chore(global): translated using Weblate (Italian)
  apps/front/client/pages/Static/i18n/it.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

Path conditions:
  e2e-front: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  e2e-widget: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-front: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-widget: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-translator: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  build-make-content: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock
  deploy-front-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-widget-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-translator-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  deploy-content-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock
  deploy-front-production: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-widget-production: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-translator-production: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  deploy-content-production: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock
