Repository makeorg/monofront: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

Path conditions:
  e2e-front: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  e2e-widget: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-front: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-widget: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  build-make-translator: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  build-make-content: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock
  deploy-front-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-widget-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-translator-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  deploy-content-preproduction: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock
  deploy-front-production: any of: .gitlab-ci.yml, package/**/*, apps/front/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/front/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-widget-production: any of: .gitlab-ci.yml, package/**/*, apps/widget/**/*, cypress/integration/*.feature, cypress/integration/common/*.feature, cypress/integration/widget/*.feature, cypress/support/**, package.json, yarn.lock
  deploy-translator-production: any of: .gitlab-ci.yml, package/**/*, apps/translator/**/*, package.json, yarn.lock
  deploy-content-production: any of: .gitlab-ci.yml, package/**/*, apps/content/**/*, package.json, yarn.lock

refactor(assembly-ui): feed and actions refactoring
  apps/assembly-ui/components/Feed/Actions.tsx
  apps/assembly-ui/components/Feed/Answer.tsx
  apps/assembly-ui/components/Feed/index.tsx
  apps/assembly-ui/components/Feed/style.ts
  apps/assembly-ui/components/Prompt/Form.tsx
  apps/assembly-ui/components/Prompt/Queries/index.tsx
  apps/assembly-ui/components/Prompt/Stream.tsx
  apps/assembly-ui/components/Welcome/Themes.tsx
  apps/assembly-ui/store/context.tsx
  apps/assembly-ui/store/devState.ts
  apps/assembly-ui/store/feed/actions.ts
  apps/assembly-ui/store/feed/reducer.ts
  apps/assembly-ui/store/feed/types.ts
  apps/assembly-ui/store/stream/actions.ts
  apps/assembly-ui/store/stream/reducer.ts
  apps/assembly-ui/store/stream/types.ts
  apps/assembly-ui/types/index.d.ts
Due: none

feat(assembly-ui): new summary
  apps/assembly-ui/client/pages/Event/index.tsx
  apps/assembly-ui/components/Prompt/Queries/Desktop.tsx
  apps/assembly-ui/components/Prompt/Queries/Mobile.tsx
  apps/assembly-ui/components/Prompt/Queries/index.tsx
  apps/assembly-ui/components/Prompt/Queries/style.ts
  apps/assembly-ui/components/Prompt/Stream.tsx
  apps/assembly-ui/components/Welcome/Themes.tsx
  apps/assembly-ui/components/Welcome/index.tsx
  apps/assembly-ui/components/Welcome/style.ts
  apps/assembly-ui/server/ssr/eventRoute.ts
Due: none

feat(assembly-ui): suggestion prompt and fixes
  apps/assembly-ui/client/pages/Event/index.tsx
  apps/assembly-ui/components/Feed/Actions.tsx
  apps/assembly-ui/components/Prompt/Form.tsx
  apps/assembly-ui/components/Prompt/Suggestions.tsx
  apps/assembly-ui/components/Prompt/style.ts
  apps/assembly-ui/components/SideBar/Content.tsx
Due: none

feat(assembly-ui): header scroll top
  apps/assembly-ui/components/Header/index.tsx
  apps/assembly-ui/components/Header/style.ts
  apps/assembly-ui/i18n/fr.json
Due: none

feat(assembly-ui): max history block and fixes
  apps/assembly-ui/components/Feed/HistoryLimit.tsx
  apps/assembly-ui/components/Feed/index.tsx
  apps/assembly-ui/components/Feed/style.ts
  apps/assembly-ui/components/Onboarding/Modal.tsx
  apps/assembly-ui/components/ReactPlayer/YoutubePlayer.tsx
  apps/assembly-ui/components/Welcome/index.tsx
  apps/assembly-ui/i18n/fr.json
Due: none

docs(widget): add a documentation abuout widgt integration
  apps/widget/docs/integration.md
  apps/widget/docs/widget-example.png
Due: e2e-widget, build-make-widget, deploy-widget-preproduction, deploy-widget-production

docs(widget): fix wording
  apps/widget/docs/integration.md
Due: e2e-widget, build-make-widget, deploy-widget-preproduction, deploy-widget-production

feat(assembly-ui): new not found page
  apps/assembly-ui/client/pages/NotFound/index.tsx
  apps/assembly-ui/client/pages/NotFound/style.ts
  apps/assembly-ui/components/Prompt/Suggestions.tsx
  apps/assembly-ui/i18n/fr.json
Due: none

feat(assembly-ui): update wordings and fixes
  apps/assembly-ui/assets/Group 6.png
  apps/assembly-ui/assets/Group 74.png
  apps/assembly-ui/assets/PP_Thematiquex2.png
  apps/assembly-ui/assets/PromptSuggerex2.png
  apps/assembly-ui/assets/sidebarclose.tsx
  apps/assembly-ui/components/Feed/Question.tsx
  apps/assembly-ui/components/Feed/index.tsx
  apps/assembly-ui/components/Onboarding/Content.tsx
  apps/assembly-ui/components/SideBar/Content.tsx
  apps/assembly-ui/components/SideBar/Modal.tsx
  apps/assembly-ui/components/SideBar/style.ts
  apps/assembly-ui/i18n/fr.json
Due: none

fix(assembly-ui): various adjusments
  apps/assembly-ui/components/Welcome/index.tsx
  apps/assembly-ui/i18n/fr.json
  apps/assembly-ui/server/api/Content.ts
  apps/assembly-ui/server/api/services/ContentApiService.ts
Due: none

feat(assembly-ui): fixes first version
  apps/assembly-ui/assets/Group 74.png
  apps/assembly-ui/components/Feed/Answer.tsx
  apps/assembly-ui/components/Feed/Sources.tsx
  apps/assembly-ui/components/Feed/style.ts
  apps/assembly-ui/components/Onboarding/Content.tsx
  apps/assembly-ui/components/Onboarding/style.ts
  apps/assembly-ui/components/Prompt/style.ts
  apps/assembly-ui/components/ReactPlayer/YoutubePlayer.tsx
  apps/assembly-ui/components/Welcome/index.tsx
  apps/assembly-ui/components/style.ts
  apps/assembly-ui/i18n/fr.json
Due: none

feat(assembly-ui): add params for display onboarding
  apps/assembly-ui/components/Onboarding/Modal.tsx
  apps/assembly-ui/package.json
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly-ui): add cookie banner and modal
  apps/assembly-ui/.env.local
  apps/assembly-ui/.env.mock
  apps/assembly-ui/.env.test
  apps/assembly-ui/client/app/index.tsx
  apps/assembly-ui/components/ReactPlayer/YoutubePlayer.tsx
  apps/assembly-ui/components/ReactPlayer/style.ts
  apps/assembly-ui/i18n/fr.json
  apps/assembly-ui/package.json
  apps/assembly-ui/public/index.html
  apps/assembly-ui/server/middleware/contentSecurityPolicy.ts
  apps/assembly-ui/server/reactRender.tsx
  apps/assembly-ui/utils/env.ts
  yarn.lock
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

fix(assembly-ui): cookie first init
  apps/assembly-ui/client/app/index.tsx
  apps/assembly-ui/client/index.tsx
  apps/assembly-ui/public/index.html
Due: none

feat(assembly-ui): added new routes, cookies, legal, privacy
  apps/assembly-ui/client/app/Routes.tsx
  apps/assembly-ui/client/pages/Cookies/index.tsx
  apps/assembly-ui/client/pages/Legal/index.tsx
  apps/assembly-ui/client/pages/PrivacyPolicy/index.tsx
  apps/assembly-ui/components/SideBar/Content.tsx
  apps/assembly-ui/server/routes.ts
  apps/assembly-ui/utils/routes.ts
Due: none

fix(assembly-ui): update functional cookie consent for youtube
  apps/assembly-ui/components/ReactPlayer/YoutubePlayer.tsx
  apps/assembly-ui/components/ReactPlayer/style.ts
  apps/assembly-ui/i18n/fr.json
Due: none

feat(assembly-ui): legal page content
  apps/assembly-ui/client/pages/Legal/index.tsx
  apps/assembly-ui/components/SideBar/Content.tsx
  apps/assembly-ui/components/style.ts
Due: none

feat(assembly-ui): privacy policy content
  apps/assembly-ui/client/pages/PrivacyPolicy/index.tsx
  apps/assembly-ui/components/Header/index.tsx
  apps/assembly-ui/components/Header/style.ts
  apps/assembly-ui/components/style.ts
  apps/assembly-ui/utils/DefaultStyle.ts
Due: none

chore(global): update translations
  apps/front/i18n/de.json
  apps/widget/i18n/de.json
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, deploy-front-preproduction, deploy-widget-preproduction, deploy-front-production, deploy-widget-production

feat(assembly-ui): cookies page content
  apps/assembly-ui/client/pages/Cookies/index.tsx
  apps/assembly-ui/client/pages/PrivacyPolicy/index.tsx
  apps/assembly-ui/components/SideBar/Modal.tsx
  apps/assembly-ui/components/style.ts
  apps/assembly-ui/utils/DefaultStyle.ts
Due: none

feat(front): update wording in tests
  cypress/integration/front/Register.feature
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

feat(assembly-ui): handle llm errors messages
  apps/assembly-ui/components/Feed/Answer.tsx
  apps/assembly-ui/components/Prompt/Stream.tsx
  apps/assembly-ui/i18n/fr.json
Due: none

feat(assembly-ui): Fixes v2
  apps/assembly-ui/client/pages/Cookies/index.tsx
  apps/assembly-ui/client/pages/Legal/index.tsx
  apps/assembly-ui/client/pages/PrivacyPolicy/index.tsx
  apps/assembly-ui/components/Feed/style.ts
  apps/assembly-ui/components/Prompt/Form.tsx
  apps/assembly-ui/components/Prompt/style.ts
  apps/assembly-ui/components/SideBar/Content.tsx
  apps/assembly-ui/components/Welcome/Themes.tsx
  apps/assembly-ui/components/style.ts
  apps/assembly-ui/i18n/fr.json
  apps/assembly-ui/store/devState.ts
Due: none

feat(assembly-ui): fixes v3
  apps/assembly-ui/components/Feed/Answer.tsx
  apps/assembly-ui/components/Welcome/index.tsx
Due: none

fix(assembly-ui): fixes v4
  apps/assembly-ui/components/Header/style.ts
  apps/assembly-ui/components/style.ts
  apps/assembly-ui/utils/DefaultStyle.ts
Due: none

chore(global): update translations
  apps/front/i18n/de.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

feat(assembly-ui): add stream query
  apps/assembly-ui/components/Feed/index.tsx
Due: none

fix(assembly-ui): add lowercase and decodeuri for auto stream
  apps/assembly-ui/components/Feed/index.tsx
Due: none

feat(front): added contact form
  apps/front/.env.local
  apps/front/client/app/Routes.tsx
  apps/front/client/helpers/translationsMap.tsx
  apps/front/client/pages/Contact/index.tsx
  apps/front/client/pages/Contact/style.ts
  apps/front/client/pages/Static/Contact.tsx
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/fr.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
  apps/front/server/api/contact.ts
  apps/front/server/routes.ts
  package/api/services/ExpressApiService.ts
  package/assets/env.ts
  package/types/Contact.d.ts
  package/types/enums/form.ts
  package/ui/elements/ButtonsElements.ts
  package/utils/services/Express.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

fix(assembly-ui): cookie first unwraps
  apps/assembly-ui/client/app/index.tsx
Due: none

fix(assembly-ui): fixes contact form
  apps/front/client/pages/Contact/index.tsx
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/fr.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

feat(assembly-ui): update unknow response
  apps/assembly-ui/components/Feed/Answer.tsx
  apps/assembly-ui/components/Prompt/Stream.tsx
Due: none

chore(global): update translations
  apps/front/i18n/bg.json
  apps/front/i18n/cs.json
  apps/front/i18n/da.json
  apps/front/i18n/de.json
  apps/front/i18n/el.json
  apps/front/i18n/en.json
  apps/front/i18n/es.json
  apps/front/i18n/et.json
  apps/front/i18n/fi.json
  apps/front/i18n/hr.json
  apps/front/i18n/hu.json
  apps/front/i18n/it.json
  apps/front/i18n/lt.json
  apps/front/i18n/lv.json
  apps/front/i18n/nl.json
  apps/front/i18n/pl.json
  apps/front/i18n/pt.json
  apps/front/i18n/ro.json
  apps/front/i18n/sk.json
  apps/front/i18n/sl.json
  apps/front/i18n/sv.json
  apps/front/i18n/uk.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production

feat(front): added be news
  apps/front/client/app/Footer/localized/BE.tsx
  apps/front/client/app/Homepage/Featured/Posts/index.tsx
  apps/front/client/hooks/useLocalizedFooter.ts
  package/types/enums/url.ts
  package/utils/helpers/url.ts
Due: e2e-front, e2e-widget, build-make-front, build-make-widget, build-make-translator, build-make-content, deploy-front-preproduction, deploy-widget-preproduction, deploy-translator-preproduction, deploy-content-preproduction, deploy-front-production, deploy-widget-production, deploy-translator-production, deploy-content-production

feat(assembly-ui): remove expert trscpt and fix onboarding modal
  apps/assembly-ui/components/Feed/Actions.tsx
  apps/assembly-ui/components/Feed/Question.tsx
  apps/assembly-ui/components/Feed/index.tsx
  apps/assembly-ui/components/Onboarding/Modal.tsx
  apps/assembly-ui/components/Prompt/Suggestions.tsx
  apps/assembly-ui/i18n/fr.json
Due: none

fix(assembly-ui): fix crash modal
  apps/assembly-ui/components/Onboarding/Modal.tsx
Due: none

chore(global): update translations
  apps/front/client/pages/Static/i18n/de.json
Due: e2e-front, build-make-front, deploy-front-preproduction, deploy-front-production
